html {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Sheera */

header {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

header h1 {
    margin-top: -100px;
    color: #ffffff;
    font-family: 'Kalam', cursive;
}
header p {
    color: #ffffff;
    font-family: 'Kalam', cursive;
}

header, header:before {
    background: 50% 50% / cover;
}

header::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url(img/1.svg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

header * {
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}

/* Intro */

.intro {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

.intro h1 {
    margin-top: -100px;
    color: #ffffff;
    font-family: 'Kalam', cursive;
}

.intro h5 {
    font-family: 'Wonderfall Script', cursive;
}

.intro:before {
    background: 50% / cover;
}

.intro::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 150%;
    display: block;
    background-image: url(img/2.svg);
    background-size: cover;
    transform-origin: center;
    transform: translateZ(-1px) scale(2);
    z-index: -2;
    min-height: 200vh;
}

.intro * {
    font-weight: normal;
    letter-spacing: 0.1em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }